:root {
    --main-purple: #4A235A;
    --soft-grey: #ECF0F1;
    --soft-purple: #EAD0F8;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Ruwudu', serif;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background-color: var(--main-purple);
    color: var(--soft-grey);
    line-height: 6rem;
}
h1 {
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 7rem;
}
header img {
    width: 250px;
    height: 150px;
    align-self: center;
}
.main-menu-container {
    width: 100%;
    height: 900px;
    background-color: var(--soft-purple);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.main-menu-container h2 {
    font-size: 2.4rem;
}
.img-product-detail {
    width: 150px;
    height: 150px;
}